.vid_landing {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }

  .nav{
    width: 84%;
    position: absolute;
    margin-top: 25px;
    top: 0;
    left: 0;
    padding: 1px 8%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
  }

  .nav-menuc a {
    text-decoration: none;
    color: #fff;
  }

  .nav-menuc a:hover {
    color: #f837ae;
  }
  
  .logo {
    width: 75px;
    top: 0;
    
  }



.homeli{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }


  .homeli a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
  }

  .contents {
    text-align: center;
    
  }
.log_landing {
      position: relative;
      width: 750px;
  }


  .content_button {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 25px;
    transition: 0.3s;
  }

  .content_button:hover {
    border: 2px solid #aa066b;
    box-shadow: 0 0 35px #C5027B;
    letter-spacing: 0.1em;
    background-color: #C5027B;
  }


  
  .log_p {
    color: #fff;
    font-size: 25px;
    
  }
  
  .land_head{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (max-aspect-ratio: 16/9){
  .land_head{
    width: auto;
    height: 100%;
  }
  }

/* 
  RESPONSIVE PART */

  @media (max-width: 1400px) {

    .nav-menuc a {
      color: #fff;
      font-size: 15px;
    }

    .logo {
      width: 60px;
    }

    .log_landing {
      width: 500px;
    }

    .log_p{
      font-size: 20px;
    }

    .content_button{
      font-size: 15px;
      padding: 16px 70px;
     
    }
  }

  @media (max-width: 700px) {

    .nav-menuc{
      display: none;
    }
    
    .logo {
      display: none;
    }

    .log_landing{
      width: 400px;
    }
    
    .log_p {
      font-size: 20px;
    }
    .content_button{
      font-size: 15px;
      padding: 16px 60px;
      display: block;
    }
  }

  @media (max-width: 350px) {

    .logo {
      display: none;
    }

    .log_landing{
      width: 200px;
    }
    
    .log_p {
      font-size: 10px;
    }
    .content_button{
      font-size: 15px;
      padding: 16px 30px;
      display: block;
      margin-left: 0;
    }

    .land_head{
      display: none;
     
    }

    .vid_landing{
      background-image: url(https://i.ibb.co/rx0G1z2/2022-06-27-16-21-03-Solido-Connecting-Solutions-Brave.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }