.vid_landing {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(145, 14, 94, 0.3),rgba(5, 1, 24, 0.3));
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
    
  }

  
  .nav{
    width: 84%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
  }

  
  .logo {
    width: 75px;
    cursor: pointer;
    top: 0;
    
  }

.nav_prim {
  text-decoration: none;
    color: #fff;
}
  

.homeli{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }

  .homeli::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #C5027B;
    display: block;
    margin: auto;
    margin-top: 3px;
    transition: 0.5s; }
  
  .homeli:hover::after {
    width: 100%; }

  .homeli a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
  }

  .contents {
    text-align: center;
    
  }
.log_landing {
      position: relative;
      width: 750px;
  }


  .content_button {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 25px;
    transition: 0.3s;
  }

  .content_button:hover {
    border: 2px solid #aa066b;
    box-shadow: 0 0 35px #C5027B;
    letter-spacing: 0.1em;
    background-color: #C5027B;
  }


  
  .contents p {
    color: #fff;
    font-size: 25px;
    
  }
  
  .land_head{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (max-aspect-ratio: 16/9){
  .land_head{
    width: auto;
    height: 100%;
  }
  }