.img_sec {
    width: 24%;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    border-radius: 25px;
}

.about_sec {
    height: 80vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .main_sec {
        width: 1600px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .text_sec {
        width: 800px;
        max-width: 100%;
        padding: 0 10px;
        h4{
            margin: 0;
        }
        b {
            color: #C5027B;
        }

        h1{
            margin-bottom: 0;
        }

        .subt_sec{
            margin-top: 0;
        }
    
    
    }
}