.img_sec {
    width: 24%;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    border-radius: 25px;
}

.about_sec {
    height: 80vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .main_sec {
        width: 1600px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .text_sec {
        width: 800px;
        max-width: 100%;
        padding: 0 10px;
        h4{
            margin: 0;
        }
        b {
            color: #C5027B;
        }

        h1{
            margin-bottom: 0;
        }

        .subt_sec{
            margin-top: 0;
        }
    
    
    }
}

// RESPONSIVE PART

@media (max-width: 1400px){

    .about_sec{
        height: 100vh;
    }


    .img_sec{
        width: 23%;
    }

    .text_sec{
        h1{
            font-size: 28px;
        }

        h2{
            font-size: 20px;
        }

        h3{
            font-size: 16px;
        }

        p{
            font-size: 14px;
        }
        
        
    }

    
}

@media (max-width: 1300px){
    .img_sec{
       display: none;
    }
}

@media (max-width: 565px){
    .text_sec{
        h1{
            font-size: 26px;
        }

        h2{
            font-size: 18px;
        }

        h3{
            font-size: 14px;
        }

        p{
            font-size: 13px;
        }
        }
}

@media (max-width: 530px){
    .text_sec{
        h1{
            font-size: 22px;
        }

        h2{
            font-size: 18px;
        }

        h3{
            font-size: 14px;
        }

        p{
            font-size: 13px;
        }
        }
}



@media (max-width: 465px){
    .text_sec{
        h1{
            font-size: 23px;
        }

        h2{
            font-size: 16px;
        }

        h3{
            font-size: 14px;
        }

        p{
            font-size: 13px;
        }
        }
}


@media (max-width: 449px){

    .about_sec{
        height: 100vh;
    }
    .text_sec{
        h1{
            font-size: 20px;
        }

        h2{
            font-size: 14px;
        }

        h3{
            font-size: 14px;
        }

        p{
            font-size: 12px;
        }
        }
}

@media (max-width: 350px){

    .about_sec{
        height: 100vh;
    }
    .text_sec{
        h1{
            font-size: 18px;
        }

        h2{
            font-size: 12px;
        }

        h3{
            font-size: 11px;
        }

        p{
            font-size: 11px;
        }
        }
}
